.container {
  height: 100vh;
}

.sidenav {
  width: 240px;
  background: #e3f2fd;
  box-shadow: none !important;
  border-right: 1px solid #bbdefb;
  display: flex;
  flex-direction: column;
}

.sidenav-header {
  height: 64px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 16px;
  font-weight: 600;
  color: #0d47a1;
  border-bottom: 1px solid #bbdefb;
}

.logo-icon {
  color: #0d47a1;
}

.logo-text {
  font-size: 16px;
}

.sidenav-menu {
  flex: 1;
  overflow-y: auto;
}

mat-nav-list a {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 12px 16px;
  margin: 4px 8px;
  border-radius: 6px;

  color: #0d47a1;
  font-weight: 500;
}

mat-nav-list a:hover {
  background-color: #e3f2fd;
}

mat-nav-list a.active {
  background-color: #bbdefb;
}


.toolbar {
  background: #e3f2fd;
  color: #0d47a1;
  box-shadow: none;
  border-left: 1px solid #bbdefb;
  gap: 12px;
}

.spacer {
  flex: 1;
}

.avatar-btn mat-icon {
  font-size: 28px;
  color: #0d47a1;
}

.content {
  padding: 16px;
}
